.posts {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    gap: 20px;
    grid-auto-rows: min-content;
    place-items: center;
    margin-bottom: 20px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}