.post {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    height: fit-content;
    background-color: white;
    max-width: 350px;
    min-width: 250px;
}

.post-header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    color: white;
}

.post-edit {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.post-author {
    font-weight: 400;
}

.post-date {
    font-weight: 400;
    font-size: 0.8rem;
}

.post-date,
.post-author {
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(0, 0, 0, 0.4), -1px 0 0 rgba(0, 0, 0, 0.4);
}

.story {
    padding: 8px 8px 0 8px;
}

.post-tags {
    font-size: 0.8rem;
}

.post-image {
    width: 100%;
    height: 180px;
    display: block;
}

.post-title {
    padding-top: 8px;
    font-weight: 700;
}

.post-message {
    padding-top: 8px;
    line-height: 1.5;
    font-size: 0.9em;
}

.post-actions {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

.action:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.post-icon {
    font-size: 1.2rem;
    margin-right: 6px;
}

.like {
    color: #404EED;
}

.delete {
    color: #ff5252;
}

.action>span {
    font-size: 0.9rem;
}

.disable {
    pointer-events: none;
    color: grey;
}